.bugMetadata {
  margin-bottom: 1rem;

  .harvest-timer {
    @include noSelection;
    display: inline-block;
    vertical-align: middle;
    background-image: none;

    &.styled,
    &.styled.running,
    &.styled:hover,
    &.styled.running:hover {
      border-width: 2px;
      border-color: transparentize($colorPrimary, .5);
      border-radius: 0;
      text-align: center;
      padding-top: .2rem;
      background-image: none;
      width: 26px;
      height: 24px;
    }
  }

  .bugDetailProject {
    font-size: .9rem;
    font-family: $fontMonospace;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin-left: .6rem;
    font-weight: 700;
    box-shadow: none;
    line-height: 2.125;

    strong {
      font-weight: 700;
    }
  }

  .bugNumber {
    border: 0;
    margin: 0;
    color: $colorPrimary;
    vertical-align: baseline;
    font-family: $fontMonospace;
    letter-spacing: .2px;
    margin-left: .2rem;
    display: inline-block;
  }
}

.bugDetailCurrentState,
.bugDetailActionDescription {
  font-family: $fontMonospace;
  margin-bottom: 1rem;
  font-size: .925rem;
  max-width: 42rem;
  line-height: 1.4;

  > strong {
    font-weight: 400;
    margin-right: .5rem;
    font-size: 1.2rem;
    display: inline-block;
    position: relative;
    top: -4px;
  }
}

.bugTitleChange {
  span {
    font-family: $fontMonospace;
    background-color: $insetBorder;
    padding: .2rem .5rem;
    display: inline-block;
  }
}

.bugStateInline {
  border: 1px solid currentColor;
  display: inline-block;
  padding-left: .35rem;
  padding-right: .35rem;
  text-transform: uppercase;
  letter-spacing: .75px;
  font-size: 80%;
}

.bugDetailActionDescription {
  font-weight: 700;
}

blockquote {
  background-color: $offWhiteDark;
  margin: 0;
  border: 4px solid $offWhiteXDark;
  padding: .75rem 1rem;
  color: darken($offWhite, 90%);

  a:not(.button) {
    color: inherit;
  }
}

.bugDetailAction {
  @include topStroke($borderWidth: 2px, $borderColor: transparentize($colorPrimaryTint, 50%));
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 64rem;
  font-size: .875rem;

  time {
    font-size: .875rem;
  }

  ul,
  ol {
    padding-left: 1rem;
    margin-bottom: 1.5rem;

    li {
      margin-bottom: .2rem;
    }
  }

  p {
    font-size: inherit;
  }

  .attachments {
    @include inset;
    padding: 1rem 2rem;

    h3 {
      margin-top: 0;
    }

    .attachment {
      display: flex;
      margin-right: 2rem;
      font-family: monospace;
      max-width: 120px;
      flex-wrap: wrap;

      a {
        box-shadow: none;
        text-shadow: none;
        margin-right: 2rem;
      }
    }

    img {
      display: block;
      margin-bottom: .4rem;
    }
  }

  .mention {
    @include betterUnderline;
    font-weight: 600;
  }
}

.bugDetailActionComment {
  font-size: 1.1rem;
  line-height: 1.5;
}

.bugMetadataTitle {
  font-size: 2.1rem;
  max-width: 48rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: .5rem;
  line-height: 1.1;
}
