time {
  &.absoluteDate {
    font-family: $fontMonospace;
    text-transform: uppercase;
  }

  &.relativeDate {
    font-family: inherit;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

p {
  font-weight: 400;
  margin-top: 0;
}

pre {
  font-family: $fontMonospace;
  @include inset;
  padding: 1rem;
}

code {
  background-color: $offWhiteDark;
}

.pageTitle {
  font-size: 2rem;
}


.help-text {
  font-size: .875rem;
  font-style: italic;
}

::selection {
  background-color: $blue;
  color: $white;
  text-shadow: none;
  box-shadow: none;
}
