$white: #fff;
$offWhite: #fcf9f4;
$offWhiteXDark: darken($offWhite, 6%);
$offWhiteDark: darken($offWhite, 3%);
$greyLight: #9a9a9a;

$greyDark: #0d0f05;
$greyXLight: #fafafa;
$blueBright: #00f;
$green: #06d9a3;
$blue: #1e90ff;
$purple: #4a4cac;
$red: #c03410;
$yellow: #e37a01;

$eggplant: #4019c0;
$global-width: 90rem;
$errorColor: $red;
$warningColor: $yellow;
$successColor: $green;

$fontPrimary: 'Work Sans', sans-serif;
$fontMonospace: 'Roboto Mono', monospace;
$colorPrimary: $eggplant;
$colorPrimaryShade: darken($colorPrimary, 15%);
$colorPrimaryTint:  lighten($colorPrimary, 25%);
$colorBackground: $offWhite;
$colorActivePrimary: $colorPrimaryTint;
$fontMonospaceFontSize: 1.1rem;
$inputBorderColor: $colorPrimary;
$inputBorderFocusColor: $colorPrimaryTint;
$linkHoverColor: $colorPrimaryTint;
