<form method="post" enctype="multipart/form-data" class="bugForm">
  {{ form.non_field_errors }}

  {% if form.project %}
    {% include "buggy/_formfield.html" with field=form.project %}
  {% endif %}
  {% if form.title %}
    {% include "buggy/_formfield.html" with field=form.title %}
  {% endif %}

  <div class="commentMarkdown">
    <div class="bugCommentEditor">
      {% include "buggy/_formfield.html" with field=form.comment %}
      <button type="button" class="previewMarkdown" title="Preview markdown">Preview Comment</button>
    </div>
    <div class="previewTarget" style="display: none;"></div>
  </div>

  <div class="bugFormActionBar">
    {% include "buggy/_formfield.html" with field=form.attachments %}
    {% include "buggy/_formfield.html" with field=form.priority %}
    {% include "buggy/_formfield.html" with field=form.assign_to %}
  </div>

  {{ form.action.errors }}
  <div class="actions">
    {% for action in actions %}
      {% if action.sub_actions %}
        <div class="nestedAction">
          <button class="open" value="{{ action.action }}" title="{{ action.help_text }}">
            {{ action.label }}
          </button>
          <div class="subActions">
            {% for action in action.sub_actions %}
              {% include "buggy/_action_button.html" %}
            {% endfor %}
            <button class="cancel">Cancel</button>
          </div>
        </div>
      {% else %}
        {% include "buggy/_action_button.html" %}
      {% endif %}
    {% endfor %}
  </div>

  {% csrf_token %}
</form>
