<!doctype html>
{% load compress staticfiles argonauts %}
<html>
  <head>
    <title>{% block title %}Buggy{% endblock title %}</title>
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'css/buggy.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'atwho/css/jquery.atwho.min.css' %}">
    {% endcompress %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,700|Work+Sans:300,400,600,900" rel="stylesheet">

    {% url 'buggy:markdown_preview' as markdown_url %}
    <script>
      window.buggyData = {
        previewMarkdownUrl: {{ markdown_url|json }}
      };
      {% if buggy_user_names %}
        window.buggyData.userNames = {{ buggy_user_names|json }};
      {% endif %}
      {% if buggy_open_bugs %}
        window.buggyData.openBugs = {{ buggy_open_bugs|json }};
      {% endif %}
    </script>

    {% compress js %}
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'select2/select2.min.js' %}"></script>
    <script src="{% static 'atwho/js/jquery.caret.min.js' %}"></script>
    <script src="{% static 'atwho/js/jquery.atwho.min.js' %}"></script>
    <script src="{% static 'js/jquery.pjax.js' %}"></script>
    <script src="{% static 'js/buggy.js' %}"></script>
    {% endcompress %}
  </head>
  <body>
    <header id="site_title">
      <nav>
        <a class="logo" href="{% url 'buggy:bug_list' %}">Buggy</a>
        {% block loginArea %}
        {% if request.user.is_authenticated %}
        <a class="button newBugButton" href="{% url 'buggy:bug_create' %}" title="New Bug">+ New Bug</a>
        <section class="navLoginState">
          <p class="greeting">Hello {{ user.get_short_name }} | <a href="{% url 'logout' %}" class="logoutLink">Log Out</a></p>
        </section>
        {% else %}
          <a href="{% url 'login' %}">Log In</a>
        {% endif %}
        {% endblock loginArea %}
      </nav>
    </header>
    {% block messages %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endblock messages %}

    <main>
      {% block content %}
      {% endblock content %}
    </main>
    <footer>
      <div class="inner">
        <a class="logo" href="{% url 'buggy:bug_list' %}">Buggy</a>
        {% comment %}
        Placeholders for footer links
        <br>
        <span>&mdash;</span>
        <ul>
          <li><a>Markdown Help &rarr;</a></li>
          <li><a>Buggy Help &rarr;</a></li>
          <li><a>Interesting Queries &rarr;</a></li>
        </ul>
      </div>
        {% endcomment %}
    </footer>
  </body>
</html>
