<!doctype html>
{% load compress staticfiles %}
<html>
  <head>
    <title>{% block title %}Buggy{% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'css/buggy.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'select2/select2.min.css' %}">
    {% endcompress %}

    {% compress js %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'select2/select2.min.js' %}"></script>
    <script src="{% static 'js/buggy.js' %}"></script>
    {% endcompress %}
  </head>
  <body>
    <header id="site_title">
      <h1><a href="{% url 'buggy:bug_list' %}">Buggy</a></h1>
        {% if request.user.is_authenticated %}
        <p><a href="/bug/new/" title="New Bug">+</a></p>
        <p>Hello {{ user.get_short_name }}</p>
        <p><a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
        <p><a href="{% url 'login' %}">Login</a></p>
        {% endif %}
      </section>
    </header>
    {% block content %}
    {% endblock %}
  </body>
</html>
