<!doctype html>
{% load compress staticfiles argonauts %}
<html>
  <head>
    <title>{% block title %}Buggy{% endblock title %}</title>
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'css/buggy.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'atwho/css/jquery.atwho.min.css' %}">
    {% endcompress %}

    {% url 'buggy:markdown_preview' as markdown_url %}
    <script>
      window.buggyData = {
        previewMarkdownUrl: {{ markdown_url|json }}
      };
      {% if buggy_user_names %}
        window.buggyData.userNames = {{ buggy_user_names|json }};
      {% endif %}
      {% if buggy_open_bugs %}
        window.buggyData.openBugs = {{ buggy_open_bugs|json }};
      {% endif %}
    </script>

    {% compress js %}
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'select2/select2.min.js' %}"></script>
    <script src="{% static 'atwho/js/jquery.caret.min.js' %}"></script>
    <script src="{% static 'atwho/js/jquery.atwho.min.js' %}"></script>
    <script src="{% static 'js/buggy.js' %}"></script>
    <script src="{% static 'js/jquery.pjax.js' %}"></script>
    {% endcompress %}
  </head>
  <body>
    <header id="site_title">
      <h1><a href="{% url 'buggy:bug_list' %}">Buggy</a></h1>
        {% if request.user.is_authenticated %}
          <p><a href="{% url 'buggy:bug_create' %}" title="New Bug">+</a></p>
          <p>Hello {{ user.get_short_name }}</p>
          <p><a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
          <p><a href="{% url 'login' %}">Login</a></p>
        {% endif %}
      </section>
    </header>
    {% block messages %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endblock messages %}

    {% block content %}
    {% endblock content %}
  </body>
</html>
