{% extends "buggy/base.html" %}
{% load buggy_tags %}

{% block content %}

<section>
  <h2>Filters</h2>

  <form method="get">
    {{ form.non_field_errors }}
    <fieldset>
      <h3>General</h3>
      {% include "buggy/_formfield.html" with field=form.projects %}
      {% include "buggy/_formfield.html" with field=form.search %}
      {% include "buggy/_formfield.html" with field=form.created_by %}
      {% include "buggy/_formfield.html" with field=form.assigned_to %}
    </fieldset>

    <fieldset>
      {% include "buggy/_formfield.html" with field=form.state %}
    </fieldset>

    <fieldset>
      {% include "buggy/_formfield.html" with field=form.priority %}
    </fieldset>

    <input type="submit" value="Filter">
  </form>

  <h2>Preset Filters</h2>
  <ul>
    <li><a href="{% url 'buggy:bug_list' %}">Current</a></li>
    <li><a href="{% url 'buggy:bug_list' %}?assigned_to={{ user.id }}">Mine</a></li>
  </ul>
</section>

<p>Bugs ({{ bugs|length }})</p>

<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Project</th>
      <th>Bug</th>
      <th>Last Modified</th>
      <th>Creator</th>
      <th>Assigned To</th>
      <th>State</th>
      <th>Priority</th>
    </tr>
  </thead>
  <tbody>
    {% for bug in bugs %}
    <tr>
      <td>{{ bug.number }}</td>
      <td>{{ bug.project }}</td>
      <td><a href="{{ bug.get_absolute_url }}">{{ bug.title }}</a></td>
      <td>{{ bug.modified_at|absolutedate }}</td>
      <td>{{ bug.created_by.get_short_name }}</td>
      <td>{{ bug.assigned_to.get_short_name }}</td>
      <td>{{ bug.state.label }}</td>
      <td>{{ bug.priority.label }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
