{% extends "buggy/base.html" %}

{% load buggy_tags thumbnail argonauts absoluteuri cache %}

{% block title %}{{ block.super }} - {{ bug.title }}{% endblock %}

{% block content %}
{% cache 31536000 bug_detail bug.id bug.modified_at %}

<script>
  window._harvestPlatformConfig = {
    "applicationName": "Buggy",
    "permalink": {{ bug.get_absolute_url|absolutize|json }}
  };
</script>
<script async src="https://platform.harvestapp.com/assets/platform.js"></script>


<div class="harvest-timer"
  data-item='{"id": {{ bug.number|json|force_escape }}, "name": {{ bug.title|json|force_escape }}}'
  data-group='{"id": {{ bug.project.id|json|force_escape }}, "name": {{ bug.project.name|json|force_escape }}}'
></div>

<h1><input readonly value="#{{ bug.number }}"><a href="{{ bug.project.get_absolute_url }}">{{ bug.project }}</a>: {{ bug.title }}</h1>

<p>
  by {{ bug.created_by.get_short_name }}, {{ bug.created_at|relativedate }},
  state is {{ bug.state }}{% if bug.assigned_to %}, currently assigned to {{ bug.assigned_to.get_short_name }}{% endif %}.
</p>

{% for action in bug.actions_preloaded %}
  <section>
    <h1>{{ action.created_at|absolutedate }} {{ action.description }}</h1>
    {% if action.comment %}
      {{ action.comment.html|safe }}
    {% endif %}

    {% if action.attachments.all %}
      <section class="attachments">
        <h3>Attachments</h3>
        {% for attachment in action.attachments.all %}
          <div class="attachment">
            <a href="{{ attachment.file.url }}">
              {% if attachment.is_image %}
                {% thumbnail attachment.file "100x100" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
              {% endif %}
              {{ attachment.basename }}
            </a>
          </div>
        {% endfor %}
      </section>
    {% endif %}
  </section>
{% endfor %}

{% endcache %}

{% include "buggy/_bug_form.html" %}

{% endblock %}
