
// Bulk Actions
.offCanvasForm {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $colorPrimaryShade;
  width: 100%;
  border-top: 4px solid $colorPrimary;
  box-shadow: 0 -2px 0 2px transparentize($colorPrimary, .9);
  padding-top: 1rem;
  padding-bottom: 2rem;
  transform: translateY(100%);
  transition: transform .2s ease-out;
  z-index: 2;

  &.active {
    transform: translateY(0);
  }

  &__inner {
    @include inner;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 2rem;

    > p:first-of-type {
      grid-column: 1 / end;
      border-bottom: 1px solid $colorPrimary;
      text-transform: uppercase;
      font-family: $fontMonospace;
      letter-spacing: 2px;
      font-weight: 700;
      padding-bottom: 1rem;
    }

    .comment {
      max-height: 140px;

      textarea {
        width: 100%;
        min-height: 0;
        max-height: 100px;
      }
    }

    button,
    button:hover,
    label,
    p {
      color: $offWhite;
    }

    button:not([disabled]) {
      background-color: $colorPrimaryTint;
      border-color: darken($colorPrimary, 17%);

      &:hover {
        opacity: .8;
      }

      &[value='resolved-fixed'],
      &[value='resolve'],
      &[value='resolved-duplicate']   {
        background-color: $blue;
        border-color: darken($blue, 15%);
      }

      &.cancel {
        background-color: $red;
      }
    }

    button[disabled] {
      color: rgba(255, 255, 255, .5);
      background-color: rgba(0,0,0,.5);
    }

    .actions {
      grid-row: 3;
      padding-top: 1rem;
      grid-column: 1 / end;
      justify-content: center;
      border-top: 0;

      button {
        min-height: 50px;
      }

      button[value='entrusted'] {
        margin-right: 1rem;
      }

      button:last-of-type {
        margin-right: 0;
        &.open {
          margin-right: 1rem;
        }
      }
    }
  }
}
