footer {
  padding: 2rem 2rem 4rem 2rem;
  background-color: darken($colorPrimary, 30%);
  color: $white;
  margin-top: auto;
  background-image: $gradientPurpleBright;

  small {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .inner {
     @include inner;
     padding: 0 4rem;

    .logo {
      font-size: 1.7rem;
      font-weight: 600;
      margin-top: 2rem;
      margin-bottom: 0;
    }

    a {
      color: $white;
      text-shadow: none;
      text-decoration: none;
      box-shadow: none;
      cursor: pointer;
      font-weight: 300;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 2rem;

      li {
        margin-bottom: 1rem;
      }
    }
  }
}
